<div th:replace="fragments/header"></div>
<script>
  var table = $("#example").DataTable();

  $(document).ready(function() {
    $("#example").DataTable();
  });
</script>
<div class="container">
  <center th:object="${conference}">
    <h2 th:text="*{nama}"></h2>
    <br />

    <br />

    <div class="input-group col-sm-8">
      <span class="input-group-addon col-3">Start Date</span>
      <input
        type="text"
        th:value="*{tanggalMulai}"
        class="form-control col-9"
        readonly=""
      />
    </div>

    <br />

    <div class="input-group col-sm-8">
      <span class="input-group-addon col-3">Room</span>
      <input
        type="text"
        th:value="*{ruanganDipakai}"
        class="form-control col-9"
        readonly=""
      />
    </div>

    <br />

    <div class="input-group col-sm-8">
      <span class="input-group-addon col-3">Abstract</span>
      <input
        type="text"
        th:value="*{abstrak}"
        class="form-control col-9"
        readonly=""
      />
    </div>

    <br />

    <br />
    <br />

    <h4>Paper that have similarities to this conference.</h4>
    <table
      id="example"
      class="table table-striped table-bordered dt-responsive"
      cellspacing="0"
      width="100%"
    >
      <thead>
        <tr>
          <th>No</th>
          <th>Paper Title</th>
          <th>Abstract</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="paper,iterationStatus: ${paperList}">
          <td th:text="${iterationStatus.count}">1</td>
          <td><a th:href="${paper.url}" th:text="${paper.title}">Title</a></td>
          <td th:text="${paper.abstrak}">Abstract</td>
        </tr>
      </tbody>
    </table>

    <br />

    <!-- Regular old button -->
    <div>
      <form th:action="'/update/' + *{id}">
        <button class="btn btn-outline-primary my-2 my-sm-0 col-4" type="submit">
          Update Conference
        </button>
      </form>
    </div>

    <!-- Button trigger modal -->
    <div>
      <button
        type="button"
        class="btn btn-outline-danger col-4"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        Delete Conference
      </button>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Delete Conference
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form th:action="'/delete/' + *{id}" method="post">
            <div class="modal-body">
              Are you sure you want to delete this conference?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <input type="submit" value="Hapus" class="btn btn-danger" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </center>
</div>
<div th:replace="fragments/footer"></div>
